<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
  body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <header>
    <center>
      <h1><b><a href="https://github.com/dedis/drand">drand</a></b></h1>
      <h3>Distributed Randomness Beacon</h3>
    </center>
  </header>
</head>
<body>
  <div id="loader"></div>
  <div id="randomness"></div>

  <script src="../../dist/drand.js"></script>
  <script>
  const randDiv = document.querySelector('#randomness');
  var lastRound = "0";

  function display_randomness() {
    var identity = {Address: "127.0.0.1:8000", TLS: false};
    //var identity = {Address: "drand.nikkolasg.xyz:8888", TLS: true};
    var distkey = "";

    fetchAndVerify(identity, distkey)
    .then(function (fulfilled) {
      print_round(fulfilled.randomness, fulfilled.previous, fulfilled.round, true);
    })
    .catch(function (error) {
      print_round(error.randomness, error.previous, error.round, false);
    });
  }

  function print_round(randomness, previous, round, verified) {
    if (round == lastRound || round == undefined) {
      return
    }
    lastRound = round;
    if (verified) {
      var textnode = document.createTextNode('(' + round + ') ' + randomness + ' : verified.');
    } else {
      var textnode = document.createTextNode('(' + round + ') ' + randomness + ' : unverified.');
    }
    var p = document.createElement("p");
    p.appendChild(textnode);
    document.getElementById("loader").style.display = "none";
    randDiv.appendChild(p);
  }

  display_randomness();
  window.setInterval(display_randomness,60000);
  </script>
</body>
</html>
