<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <header>
      <center>
      <h1><b><a href="https://github.com/dedis/drand">DRAND</a></b></h1>
      <h3>(experimental) Distributed Randomness Beacon Daemon</h3>
    </center>
    </header>
</head>
<body>
    <div id="loader"></div>
    <script src="../javascript/bundle.js"></script>
    <div id="printDiv">
    </div>
    <script>
      const div = document.querySelector('#printDiv');
      var lastRound = "0";

      function wrap() {
        identity = {Address: "127.0.0.1:8000", TLS: false}
        fetchAndVerify(identity)
          .then(function (fulfilled) {
            randomness = fulfilled[0]
            round = fulfilled[1]
            if (round == lastRound || round == undefined) {
              return
            }
            lastRound = round;
            var textnode = document.createTextNode('(' + round + ') ' + randomness + ' : verified.');
            var p = document.createElement("p");
            p.appendChild(textnode);
            document.getElementById("loader").style.display = "none";
            div.appendChild(p);
        })
          .catch(function (error) {
            randomness = error[0]
            round = error[1]
            if (round == lastRound || round == undefined) {
              return
            }
            lastRound = round;
            var textnode = document.createTextNode('(' + round + ') ' + randomness + ' : not verified.');
            var p = document.createElement("p");
            p.appendChild(textnode);
            document.getElementById("loader").style.display = "none";
            div.appendChild(p);
        });
      }
      wrap();
      window.setInterval(wrap,60000);
    </script>
</body>
</html>
