<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <header>
      <center>
      <h1><b><a href="https://github.com/dedis/drand">DRAND</a></b></h1>
      <h3>(experimental) Distributed Randomness Beacon Daemon</h3>
    </center>
    </header>
</head>
<body>
    <div id="loader"></div>
    <script src="../libraries/bundle.min.js"></script>
    <script src="../javascript/helpers.js"></script>
    <script src="../javascript/drand.js"></script>
    <div id="printDiv">
    </div>

    <script>
      const div = document.querySelector('#printDiv');
      var lastRound = "0";

      function testFetchKeyAndPublic() {
        identity = {Address: "127.0.0.1:8000", TLS: false}
        fetchAndVerify(identity)
          .then(function (fulfilled) {
            randomness = fulfilled[0]
            round = fulfilled[1]
            if (round == lastRound || round == undefined) {
              return
            }
            lastRound = round;
            var textnode = document.createTextNode('(' + round + ') ' + randomness + ' : verified.');
            var p = document.createElement("p");
            p.appendChild(textnode);
            document.getElementById("loader").style.display = "none";
            div.appendChild(p);
        })
          .catch(function (error) {
            randomness = error[0]
            round = error[1]
            if (round == lastRound || round == undefined) {
              return
            }
            lastRound = round;
            var textnode = document.createTextNode('(' + round + ') ' + randomness + ' : not verified.');
            var p = document.createElement("p");
            p.appendChild(textnode);
            document.getElementById("loader").style.display = "none";
            div.appendChild(p);
        });
      }

      function testFetchAndVerifyWithKey() {
        identity = {Address: "127.0.0.1:8000", TLS: false, Key: "11fda77bab995f5142f8b92b480d128af90e8339e4431bbc9fa6b0d9ea2ab67e02d45223db09e13f000e5805eec825bbca15b434a3463215cca82e3c96d6247a2c86e6ab9141572f9d0e6bae9e0bde47d3fb70769745d90925b3d36a984bcb41691b7c200c5cafac958fe874d69eb54a00e376340b7106139118561930ec300b"}
        fetchAndVerifyWithKey(identity)
          .then(function (fulfilled) {
            randomness = fulfilled[0]
            round = fulfilled[1]
            if (round == lastRound || round == undefined) {
              return
            }
            lastRound = round;
            var textnode = document.createTextNode('(' + round + ') ' + randomness + ' : verified.');
            var p = document.createElement("p");
            p.appendChild(textnode);
            document.getElementById("loader").style.display = "none";
            div.appendChild(p);
        })
          .catch(function (error) {
            randomness = error[0]
            round = error[1]
            if (round == lastRound || round == undefined) {
              return
            }
            lastRound = round;
            var textnode = document.createTextNode('(' + round + ') ' + randomness + ' : not verified.');
            var p = document.createElement("p");
            p.appendChild(textnode);
            document.getElementById("loader").style.display = "none";
            div.appendChild(p);
        });
      }

      function chooseOne() {
        testFetchKeyAndPublic()
        //testFetchAndVerifyWithKey()
      }

      chooseOne();
      window.setInterval(chooseOne,60000);
    </script>
</body>
</html>
